@model IEnumerable<WebHocTiengAnh.Models.Topic>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_For_AdminPage.cshtml";
}

<h1>Quản lý chủ đề</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<form asp-controller="Topics" asp-action="Index" method="get">
    <p>
        Tìm kiếm chủ đề: <input type="text" name="SearchString">
        <input type="submit" value="Tìm kiếm" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameTopic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameTopic)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Chỉnh sửa</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
