@model IEnumerable<WebHocTiengAnh.Models.Answer>

@{
    ViewData["Title"] = "Quản lý đáp án";
    Layout = "~/Views/Shared/_Layout_For_AdminPage.cshtml";
}

    <h1>Quản lý đáp án</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnswerText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercise)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exercise.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Chỉnh sửa</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
