@model WebHocTiengAnh.Models.Exercise

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_For_AdminPage.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Exercise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Media)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Media)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrueAnswer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrueAnswer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExerciseType.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
