@model IEnumerable<WebHocTiengAnh.Models.Exercise>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_For_AdminPage.cshtml";
}

<h1>Quản lý câu hỏi</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Media)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrueAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Media)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrueAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExerciseType.Id)
            </td>
            <td>
                <a asp-action="Chỉnh sửa" asp-route-id="@item.Id">Chỉnh sửa</a> |
                <a asp-action="Chi tiết" asp-route-id="@item.Id">Chi tiết</a> |
                <a asp-action="Xóa" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
